[[source]]

url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true
name = "pypi"


[packages]

"scapy-python3" = "*"
scapy-http = "*"
pyx = "*"
matplotlib = "*"
keras = "*"
sklearn = "*"


[dev-packages]

pylint = "*"
jupyter = "*"
rope = "*"


[requires]

python_version = "3.6"
